<div class="container wrapper">
  <p class="form-title">{{ 'user_detail.title' | translate }}</p>
  <form [formGroup]="formGroup" (ngSubmit)="updateUser()">
    <app-input
      *ngIf="nameInputModel"
      [inputModel]="nameInputModel"
      class="row"
      ngDefaultControl
    ></app-input>
    <app-input
      *ngIf="surnameInputModel"
      [inputModel]="surnameInputModel"
      class="row"
      ngDefaultControl
    ></app-input>
    <app-input
      *ngIf="emailInputModel"
      [inputModel]="emailInputModel"
      class="row"
      ngDefaultControl
    ></app-input>
    <app-input
      *ngIf="passwordInputModel"
      [inputModel]="passwordInputModel"
      class="row"
      ngDefaultControl
    ></app-input>
    <app-button
      text="{{ 'button.update_user' | translate }}"
      [form]="formGroup"
      type="submit"
      class="row"
    ></app-button>
  </form>
</div>
