<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="updateUser()">
    <app-input
      [inputModel]="nameInputModel"
      class="row"
      ngDefaultControl
    ></app-input>
    <app-input
      [inputModel]="surnameInputModel"
      class="row"
      ngDefaultControl
    ></app-input>
    <app-input
      [inputModel]="emailInputModel"
      class="row"
      ngDefaultControl
    ></app-input>
    <app-input
      [inputModel]="passwordInputModel"
      class="row"
      ngDefaultControl
    ></app-input>
    <app-button
      text="{{ 'button.update_user' | translate }}"
      [form]="formGroup"
      type="submit"
      class="row"
    ></app-button>
  </form>
</div>
