<div>
  <div class="row container user-list--header">
    <div class="col-3">
      {{ 'user_list.header.name' | translate | uppercase }}
    </div>
    <div class="col-3">
      {{ 'user_list.header.surname' | translate | uppercase }}
    </div>
    <div class="col-4">
      {{ 'user_list.header.email' | translate | uppercase }}
    </div>
    <div class="col-1"></div>
    <div class="col-1"></div>
  </div>
  <div class="container--users">
    <app-user-row
      *ngFor="let user of usersList"
      [user]="user"
      (showEmmiter)="showUserDetail($event)"
      (deleteEmmiter)="deleteUser($event)"
    ></app-user-row>
  </div>
</div>
