<div class="container overflow-auto">
  <div class="row user-list--header">
    <div class="col">{{ 'user_list.header.name' | translate | uppercase }}</div>
    <div class="col">
      {{ 'user_list.header.surname' | translate | uppercase }}
    </div>
    <div class="col">
      {{ 'user_list.header.email' | translate | uppercase }}
    </div>
    <div class="col"></div>
  </div>
  <app-user-row
    *ngFor="let user of usersList | async"
    [user]="user"
    (userIdEmmiter)="showUserDetail($event)"
  ></app-user-row>
</div>
