<mat-toolbar color="primary">
  <mat-menu>
    <button mat-icon-button aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-menu>

  <button mat-button>
    <button mat-button [matMenuTriggerFor]="menu">
      <button mat-icon-button aria-label="icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login" *ngIf="!isLoggedUser()">
          {{ 'menu.login' | translate }}
        </button>
        <button mat-menu-item routerLink="/sign-up" *ngIf="!isLoggedUser()">
          {{ 'menu.sign_up' | translate }}
        </button>
        <button mat-menu-item routerLink="/users" *ngIf="isLoggedUser()">
          {{ 'menu.user' | translate }}
        </button>
      </mat-menu>
    </button>
  </button>
</mat-toolbar>
