mat-icon {
  font-size: 8rem;
  text-align: center;
  width: 100%;
}

.logout {
  font-size: 3rem;
  margin-top: 1rem;
  &--button {
    justify-content: center;
    app-button {
      margin-top: 1rem;
    }
  }
  &--button.row > * {
    width: auto;
  }
}

.row {
  margin: 0;
}
