$color-orange: #f95738;
$color-light-orange: #ee964b;
$color-yellow: #f4d35e;
$color-light-yellow: #faf0ca;
$color-blue: #0d3b66;
$color-white: #fff;
$color-light-gray: #d3d3d3;
$color-gray: #a5a3a3;
$color-dark-gray: #777777;
$color-red: #f44343;
$color-purple: #7b1fa2;
$color-green: #39e58c;
