/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-wrapper {
  background-color: $color-light-yellow;
  color: $color-orange;
}

.main-header {
  height: 15%;
}

.main-content {
  height: 85%;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
}

/* SNACKBAR */
.warning-snackbar {
  background: $color-yellow;
  color: $color-white;
}
.success-snackbar {
  background: $color-green;
  color: $color-white;
}
.error-snackbar {
  background: $color-red;
  color: $color-white;
}

.col {
  padding: 0;
}
